curl
git
zsh
zsh-syntax-highlighting
ffmpeg
lm-sensors
gnome-tweaks

cmake
clangd
g++-12
shfmt
shellcheck
python3-pip
libyaml-tiny-perl
libfile-homedir-perl

dconf-cli
uuid-runtime

wget
gnupg
lsb-release
apt-transport-https
ca-certificates